:root {
  --logo-color-1: #2196F3;
  --logo-color-2: #000000;
  --menu-link-color: #212121;
  --menu-link-name-page-color: #2196F3;
  --email-and-number-color: #757575;
  --contact-num-and-em-hover-and-focus-color: #2196F3;
  --header-border-bottom-color: #ECECEC;
  --hero-background-color: #2F303A;
  --hero-name-color: #FFFFFF;
  --modal-btn-color: #F5F4FA;
  --modal-btn-background-color: #2196F3;
  --modal-btn-hov-and-foc-color: #F5F4FA;
  --modal-btn-background-hov-and-foc-color: #188CE8;
  --headlines-bkg-color: #F5F4FA;
  --headlines-char-color: #212121;
  --headlines-char-title-color: #212121;
  --headlines-char-descr-color: #757575;
  --product-name-color: #FFFFFF;
  --workers-color: #212121;
  --workers-prof-color: #757575;
  --border-workers-color: #EEEEEE;
  --workers-social-icon-color: #AFB1B8;
  --workers-social-icon-color-hover: #FFFFFF;
  --bcg-privat-social-color-hover: #2196F3;
  --footer-background-color: #2F303A;
  --address-physical-color: #FFFFFF;
  --address-email-and-number-color: rgba(255, 255, 255, 0.6);
  --filter-btn-color: #212121;
  --filter-btn-background-color: #F5F4FA;
  --filter-btn-hov-and-foc-color: #FFFFFF;
  --filter-btn-background-hov-and-foc-color: #2196F3;
  --project-name-color: #212121;
  --project-type-color: #757575;
  --customer-icon-color: #AFB1B8;
  --customer-color-hover: #2196F3;
  --customer-list-border-color: #AFB1B8;
  --logo-color-3: #FFFFFF;
  --join-footer-color: #FFFFFF;
  --social-back-color: #2196F3;
  --pic-char-color: #F5F4FA;
  --footer-privat-social-color: #FFFFFF;
  --footer-social-bcg-color: rgba(255, 255, 255, 10%);
  --head-color: #2196F3;
  --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-section {
  padding-top: 0;
}

.header {
  position: relative;
  border-bottom: 1px solid var(--header-border-bottom-color);
}

.header-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767.98px) {
  .header-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
@media screen and (min-width: 768px) {
  .header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.logo-left {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-1);
  display: block;
  padding-top: 16px;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .logo-left {
    padding-top: 26px;
    padding-right: 88px;
    padding-bottom: 26px;
    padding-left: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-left {
    padding-right: 93px;
    margin-left: auto;
  }
}

.logo-right {
  color: var(--logo-color-2);
}

@media screen and (max-width: 767.98px) {
  .menu-link {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--menu-link-color);
    -webkit-transition: color var(--anim);
    transition: color var(--anim);
  }
  .menu-link:hover, .menu-link:focus {
    color: var(--contact-num-and-em-hover-and-focus-color);
  }
}

@media screen and (max-width: 767.98px) {
  .current {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .current {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--menu-link-name-page-color);
  }
  .current::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    bottom: -1px;
    left: 0;
    background-color: var(--menu-link-name-page-color);
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu:last-child {
  margin-right: 0;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.email-and-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--email-and-number-color);
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .email-and-number {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.email-and-number:hover, .email-and-number:focus {
  color: var(--contact-num-and-em-hover-and-focus-color);
}
.email-and-number:hover .contact-icons {
  fill: var(--contact-num-and-em-hover-and-focus-color);
}

.contact-icons {
  margin-right: 10px;
  fill: currentColor;
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}
.contact-icons:hover, .contact-icons:focus {
  fill: var(--contact-num-and-em-hover-and-focus-color);
}

@media screen and (max-width: 767.98px) {
  .email-and-tel {
    display: none;
  }
}
@media screen and (min-width: 798px) and (max-width: 1199.98px) {
  .email-and-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .email-and-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .cont:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .cont:not(:last-child) {
    margin-right: 50px;
  }
}

.menu-button {
  position: absolute;
  right: 15px;
  top: 10px;
  padding: 1px 6px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 1000;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.icon-cross {
  fill: #212121;
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}
.icon-cross:hover, .icon-cross:focus {
  fill: #2196F3;
}

.icon-menu {
  fill: #212121;
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}
.icon-menu:hover, .icon-menu:focus {
  fill: #2196F3;
}

.mobile-menu {
  display: none;
}
.mobile-menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding-top: 48px;
  padding-right: auto;
  padding-bottom: 48px;
  padding-left: 40px;
  overflow-y: scroll;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 0;
  margin-right: auto;
}

.mobile-menu__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__nav-link {
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02;
  color: #212121;
}
.mobile-menu__nav-link:hover, .mobile-menu__nav-link:focus {
  color: #2196F3;
}

.mobile-menu__nav-link--color {
  color: #2196F3;
}

.mobile-menu__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: auto;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 64px;
}

.mobile-menu__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__contacts-tel {
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02;
  color: #2196F3;
}

.mobile-menu__contacts-email {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02;
  color: #757575;
}

.mobile-menu__socials {
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mobile-menu__socials-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__socials-item:not(:first-child) {
  padding-left: 10px;
}

.mobile-menu__socials-link {
  font-size: 18px;
  line-height: 1.04;
  letter-spacing: 0.02;
  color: #2196F3;
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-background-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/overlay/overlay_mob.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay/overlay_mob.jpg);
  background-image: -webkit-image-set(url(../images/overlay/overlay_mob.webp) 1x), -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)));
  background-image: -webkit-image-set(url(../images/overlay/overlay_mob.webp) 1x), linear-gradient(to right, rgba(47, 48, 58, 0.4));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/overlay/overlay@2x_mob.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay/overlay@2x_mob.jpg);
    background-image: -webkit-image-set(url(../images/overlay/overlay@2x_mob.webp) 2x), -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)));
    background-image: -webkit-image-set(url(../images/overlay/overlay@2x_mob.webp) 2x), linear-gradient(to right, rgba(47, 48, 58, 0.4));
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/overlay/overlay_tab.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay/overlay_tab.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), -webkit-image-set url(../images/overlay/overlay_tab.webp) 1x;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set url(../images/overlay/overlay_tab.webp) 1x;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199.98px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/overlay/overlay@2x_tab.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay/overlay@2x_tab.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), -webkit-image-set url(../images/overlay/overlay@2x_tab.webp) 2x;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set url(../images/overlay/overlay@2x_tab.webp) 2x;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/overlay/overlay_desk.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay/overlay_desk.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), -webkit-image-set url(../images/overlay/overlay_desk.webp) 1x;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set url(../images/overlay/overlay_desk.webp) 1x;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/overlay/overlay@2x_desk.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay/overlay@2x_desk.jpg);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), -webkit-image-set url(../images/overlay/overlay@2x_desk.webp) 2x;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), -webkit-image-set url(../images/overlay/overlay@2x_desk.webp) 2x;
  }
}

.hero-name {
  display: block;
  margin: 0 auto;
  font-weight: 900;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-name-color);
}
@media screen and (max-width: 1199px) {
  .hero-name {
    font-size: 26px;
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-name {
    max-width: 696px;
    font-size: 44px;
  }
}

.btn {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--modal-btn-color);
  background-color: var(--modal-btn-background-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: color var(--anim), background-color var(--anim);
  transition: color var(--anim), background-color var(--anim);
}
.btn:hover, .btn:focus {
  color: var(--modal-btn-hov-and-foc-color);
  background-color: var(--modal-btn-background-hov-and-foc-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 1;
  -webkit-transition: opacity var(--anim);
  transition: opacity var(--anim);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-wrapper {
  width: 100%;
  position: absolute;
  padding: 40px;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  height: auto;
}
@media screen and (max-width: 479px) {
  .modal-wrapper {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal-wrapper {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-wrapper {
    width: 528px;
  }
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.form-caption {
  display: inline-block;
  margin-bottom: 12px;
  width: 100%;
  height: 23px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .form-caption {
    height: 60px;
  }
}

.form-modal-group {
  display: block;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}

.form-modal-label {
  display: block;
  text-align: start;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-modal-input {
  width: 100%;
  padding: 11px 11px 11px 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;
  -webkit-transition: border var(--anim);
  transition: border var(--anim);
}
.form-modal-input:hover, .form-modal-input:focus {
  border: 1px solid var(--head-color);
}
.form-modal-input:focus + .form-modal-icon {
  fill: var(--head-color);
}
.form-modal-input:hover + .form-modal-icon {
  fill: var(--head-color);
}
@media screen and (min-width: 1200px) {
  .form-modal-input {
    width: 448px;
  }
}

.form-modal-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: #212121;
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}

.form-textarea-label {
  margin-bottom: 20px;
}

.form-textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #212121;
  resize: none;
}
.form-textarea::-webkit-input-placeholder {
  opacity: 0.5;
}
.form-textarea::-moz-placeholder {
  opacity: 0.5;
}
.form-textarea:-ms-input-placeholder {
  opacity: 0.5;
}
.form-textarea::-ms-input-placeholder {
  opacity: 0.5;
}
.form-textarea::placeholder {
  opacity: 0.5;
}
.form-textarea:hover, .form-textarea:focus {
  border: 1px solid var(--head-color);
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.checkbox-origin:checked + .checkbox-add .checkbox {
  opacity: 1;
  fill: #ffffff;
}

.checkbox-origin:checked + .checkbox-add {
  background-color: var(--head-color);
  outline: var(--head-color);
  -webkit-transition: var(--anim);
  transition: var(--anim);
}

.checkbox-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 7px;
  border-radius: 2px;
  outline: 2px solid #212121;
  outline-offset: -2px;
  -webkit-transition: background-color var(--anim);
  transition: background-color var(--anim);
}

.checkbox {
  opacity: 0;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}
@media screen and (min-width: 1200px) {
  .checkbox-label {
    font-size: 14px;
    line-height: 1.46;
  }
}

.checkbox-link {
  margin-left: 3px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
}
@media screen and (min-width: 1200px) {
  .checkbox-link {
    font-size: 14px;
    line-height: 1.46;
  }
}

.btn-send {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #188CE8;
  border-color: transparent;
  border-radius: 4px;
  -webkit-transition: -webkit-box-shadow;
  transition: -webkit-box-shadow;
  transition: box-shadow;
  transition: box-shadow, -webkit-box-shadow;
}
.btn-send:hover, .btn-send:focus {
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.close {
  fill: #000000;
}

.headlines {
  background-color: var(--headlines-bkg-color);
}

.characteristics__title {
  display: block;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headlines-char-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .characteristics__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .characteristics__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .characteristics__item {
    margin-bottom: 30px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .characteristics__item {
    margin-left: 30px;
    margin-top: 30px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .characteristics__item {
    max-width: 270px;
  }
  .characteristics__item:not(:last-child) {
    margin-right: 30px;
  }
}

.characteristics__pictogram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--pic-char-color);
}

.characteristics__subtitle {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headlines-char-title-color);
}
@media screen and (max-width: 767px) {
  .characteristics__subtitle {
    text-align: center;
  }
}

.characteristics__label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--headlines-char-descr-color);
}

@media screen and (max-width: 1199px) {
  .products {
    display: none;
  }
}

.products__title {
  display: block;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headlines-char-color);
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products__items {
  position: relative;
}

.products__name {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  left: 0;
  background-color: #2F303A;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--product-name-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.headlines-char {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headlines-char-color);
}
@media screen and (min-width: 1200px) {
  .headlines-char {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .employees {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .employees {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.team {
  border-color: rgb(238, 238, 238);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 767px) {
  .team {
    margin-bottom: 30px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    margin-left: 30px;
    margin-top: 30px;
    width: calc((100% - 60px) / 2);
  }
}

@media screen and (max-width: 1199px) {
  .team__img {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
    height: 260px;
  }
}

.index-figcaption {
  display: block;
  padding: 30px 0;
}

.workers {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--workers-color);
}

.workers-prof {
  display: block;
  margin-bottom: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--workers-prof-color);
}

.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.icons-social:not(:last-child) {
  margin-right: 10px;
}

.privat-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  -webkit-transition: border-radius var(--anim), background-color var(--anim);
  transition: border-radius var(--anim), background-color var(--anim);
}
.privat-social:hover .social-icons, .privat-social:focus .social-icons {
  fill: var(--workers-social-icon-color-hover);
}
.privat-social:hover, .privat-social:focus {
  border-radius: 50%;
  background-color: var(--bcg-privat-social-color-hover);
}

.social-icons {
  fill: var(--workers-social-icon-color);
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}

.clients__title {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--headlines-char-color);
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 479px) {
  .clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (max-width: 479px) {
  .clients__item {
    margin-left: 30px;
    margin-top: 30px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .clients__item {
    margin-left: 30px;
    margin-top: 30px;
    width: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    height: 92px;
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients_link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--customer-list-border-color);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border-color var(--anim);
  transition: border-color var(--anim);
}
.clients_link:hover, .clients_link:focus {
  border-color: var(--customer-color-hover);
}
.clients_link:hover .clients__icons {
  fill: var(--customer-color-hover);
}
.clients_link:focus .clients__icons {
  fill: var(--customer-color-hover);
}

.clients__icons {
  fill: var(--customer-icon-color);
  -webkit-transition: fill var(--anim);
  transition: fill var(--anim);
}

.footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer-align {
  position: relative;
}
@media screen and (max-width: 767.98px) {
  .footer-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .footer-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer-align {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767.98px) {
  .footer-word {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-word {
    margin-left: 76px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-word {
    margin-left: 0;
    margin-right: 0;
  }
}

.logo-left-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--logo-color-1);
  margin-bottom: 20px;
}
@media screen and (max-width: 767.98px) {
  .logo-left-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: 0;
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .logo-left-footer {
    margin-left: auto;
    margin-right: 0;
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .logo-left-footer {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 0;
  }
}

.logo-right-footer {
  color: var(--logo-color-3);
}

.address {
  font-style: normal;
}
@media screen and (max-width: 767.98px) {
  .address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767.98px) {
  .address-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .address-all:not(:last-child) {
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .address-all:not(:last-child) {
    display: block;
    margin-bottom: 9px;
  }
}

.address-physical {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--address-physical-color);
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
.address-physical:hover, .address-physical:focus {
  color: var(--contact-num-and-em-hover-and-focus-color);
}

.address-email {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--address-email-and-number-color);
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
.address-email:hover, .address-email:focus {
  color: var(--contact-num-and-em-hover-and-focus-color);
}

.address-number {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--address-email-and-number-color);
  -webkit-transition: color var(--anim);
  transition: color var(--anim);
}
.address-number:hover, .address-number:focus {
  color: var(--contact-num-and-em-hover-and-focus-color);
}

@media screen and (max-width: 767.98px) {
  .join-block {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199.98px) {
  .join-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .join-block {
    margin-left: 70px;
    margin-right: 93px;
  }
}

.join {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--join-footer-color);
}
@media screen and (max-width: 1199.98px) {
  .join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
@media screen and (max-width: 767.98px) {
  .footer-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.join-social {
  margin-right: 10px;
}

.privat-social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footer-social-bcg-color);
  -webkit-transition: background-color var(--anim);
  transition: background-color var(--anim);
}
.privat-social-footer:hover, .privat-social-footer:focus {
  background-color: var(--bcg-privat-social-color-hover);
}

.footer-pic {
  fill: var(--footer-privat-social-color);
}

@media screen and (max-width: 767.98px) {
  .footer-form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: auto;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767.98px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-form-email {
  min-height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: border-color var(--anim);
  transition: border-color var(--anim);
}
.footer-form-email:hover, .footer-form-email:focus {
  border-color: var(--head-color);
}
@media screen and (max-width: 767.98px) {
  .footer-form-email {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-form-email {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form-email {
    top: 0;
    left: 0;
    margin-right: 12px;
    padding-top: 15px;
    padding-right: auto;
    padding-bottom: 15px;
    padding-left: 16px;
    min-width: 358px;
  }
}

.follow-btn {
  top: 0;
  left: 0;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 28px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--modal-btn-color);
  background-color: var(--modal-btn-background-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: color var(--anim), background-color var(--anim);
  transition: color var(--anim), background-color var(--anim);
}

.footer-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  fill: #FFFFFF;
  background-color: transparent;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 40px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .filter {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter-items {
  display: block;
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .filter-items {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .filter-items:not(:last-child) {
    margin-right: 8px;
  }
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: transparent;
  color: var(--filter-btn-color);
  background-color: var(--filter-btn-background-color);
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: color var(--anim), background-color var(--anim), -webkit-box-shadow var(--anim);
  transition: color var(--anim), background-color var(--anim), -webkit-box-shadow var(--anim);
  transition: color var(--anim), background-color var(--anim), box-shadow var(--anim);
  transition: color var(--anim), background-color var(--anim), box-shadow var(--anim), -webkit-box-shadow var(--anim);
}
.filter-btn:focus, .filter-btn:hover {
  color: var(--filter-btn-hov-and-foc-color);
  background-color: var(--filter-btn-background-hov-and-foc-color);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 767px) {
  .samples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.samples-items {
  position: relative;
}
@media screen and (max-width: 767px) {
  .samples-items {
    margin-bottom: 30px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .samples-items {
    margin-left: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .samples-items {
    margin-left: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
.samples-items:hover .overlay-text, .samples-items:focus .overlay-text {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 1;
}

.samples-link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--anim);
  transition: -webkit-box-shadow var(--anim);
  transition: box-shadow var(--anim);
  transition: box-shadow var(--anim), -webkit-box-shadow var(--anim);
}
.samples-link:hover, .samples-link:focus {
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.samples-link:focus .overlay-text {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 1;
}

.overlay-box {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .overlay-img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .overlay-img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .overlay-img {
    width: 370px;
  }
}

.overlay-text {
  position: absolute;
  width: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: opacity var(--anim), -webkit-transform var(--anim);
  transition: opacity var(--anim), -webkit-transform var(--anim);
  transition: transform var(--anim), opacity var(--anim);
  transition: transform var(--anim), opacity var(--anim), -webkit-transform var(--anim);
}
@media screen and (max-width: 767px) {
  .overlay-text {
    padding: 77px 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .overlay-text {
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .overlay-text {
    padding: 63px 24px;
  }
}

.portfolio-figcaption {
  display: block;
  padding: 20px 24px;
  border-right: 1px solid var(--border-workers-color);
  border-bottom: 1px solid var(--border-workers-color);
  border-left: 1px solid var(--border-workers-color);
}

.project-name {
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--project-name-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--project-type-color);
}/*# sourceMappingURL=main.css.map */