:root {
    --logo-color-1: #2196F3;
    --logo-color-2: #000000;
    --menu-link-color: #212121;
    --menu-link-name-page-color: #2196F3;
    --email-and-number-color: #757575;
    --contact-num-and-em-hover-and-focus-color: #2196F3;
    --header-border-bottom-color: #ECECEC;
    --hero-background-color: #2F303A;
    --hero-name-color: #FFFFFF;
    --modal-btn-color: #F5F4FA;
    --modal-btn-background-color: #2196F3;
    --modal-btn-hov-and-foc-color: #F5F4FA;
    --modal-btn-background-hov-and-foc-color: #188CE8;
    --headlines-bkg-color: #F5F4FA;
    --headlines-char-color: #212121;
    --headlines-char-title-color: #212121;
    --headlines-char-descr-color: #757575;
    --workers-color: #212121; 
    --workers-prof-color: #757575;
    --border-workers-color: #EEEEEE;
    --footer-background-color: #2F303A;
    --address-physical-color: #FFFFFF;
    --address-email-and-number-color: rgba(255, 255, 255, 0.6);
    --filter-btn-color: #212121;
    --filter-btn-background-color: #F5F4FA;
    --filter-btn-hov-and-foc-color: #FFFFFF;
    --filter-btn-background-hov-and-foc-color: #2196F3;
    --project-name-color: #212121;
    --project-type-color: #757575;
    --logo-color-3: #FFFFFF;

}
body {
    font-family: 'Roboto', sans-serif;
}
   
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header {
    border-bottom: 1px solid var(--header-border-bottom-color);
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.link {
    text-decoration: none;
}

/**********header*********/
.logo-left {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color-1);
    display: block;
    margin-right: 93px;    
}
.logo-right {
    color: var(--logo-color-2);
}


.menu-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--menu-link-color);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--contact-num-and-em-hover-and-focus-color);

}
.current {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--menu-link-name-page-color);
}

.menu {
    display: flex;
    align-items: center;
}


.menu:last-child {
    margin-right: 0;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}

.email-and-number {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--email-and-number-color);
}

.email-and-number:hover,
.email-and-number:focus {
  
    color: var(--contact-num-and-em-hover-and-focus-color);
}

.contact-icons {
  fill: currentColor;
}

.email-and-tel {
    display: flex;
    margin-left: auto;
    align-items: center;
}

.cont:first-child {
    margin-right: 50px;
}


/**********hero************/

.hero {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--hero-background-color);
}


.hero-name {
    display: block;
    margin: 0 auto;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-name-color);
}

.modal-btn {
    min-width: 200px;
    min-height: 50px;
    padding: 10px 32px;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--modal-btn-color);
    background-color: var(--modal-btn-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.char:not(:last-child) {
    max-width: 270px;
    margin-right: 30px;
}

.modal-btn:hover,
.modal-btn:focus {
    color: var(--modal-btn-hov-and-foc-color);
    background-color: var(--modal-btn-background-hov-and-foc-color);
}

/*sections*/
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.work-section {
    padding-top: 0;
}

.headlines {
    background-color: var(--headlines-bkg-color);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.char-icons {
    fill: currentColor;
}

.char-list {
    display: flex;
    align-items: center;
}

.headlines-char {
    display: block;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--headlines-char-color);
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/**headlines title and description*/
.headlines-char-title {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--headlines-char-title-color);
}


.headlines-char-descr {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--headlines-char-descr-color);
}

/************workers***********/

.employees {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.index-figcaption {
    display: block;
    padding: 30px 0;
}

.workers {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--workers-color);
}

.workers-prof {
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--workers-prof-color);
}

.team-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

/********footer*********/

.footer {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background-color);
}

.address {
    font-style: normal;
}

.address-all:not(last-child) {
    display: block;
    margin-bottom: 9px;
}


.address-physical {
    display: block;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--address-physical-color);
}

.address-email {
    display: block;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--address-email-and-number-color);
}

.address-number {
    display: block;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--address-email-and-number-color);
}

.address-physical:hover,
.address-physical:focus {
    color: var(--contact-num-and-em-hover-and-focus-color);
}

.address-email:hover,
.address-email:focus {
    color: var(--contact-num-and-em-hover-and-focus-color);
}

.address-number:hover,
.address-number:focus {
    color: var(--contact-num-and-em-hover-and-focus-color);
}
/*------------------------------------------------------------------*/
/*portfolio*/

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-items:not(:last-child) {
    display: block;
    margin-right: 8px;
}

.filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;   
    text-align: center;
    letter-spacing: 0.03em;   
    color: var(--filter-btn-color);
    background-color: var(--filter-btn-background-color);
    cursor: pointer;
}


.filter-btn:focus,
.filter-btn:hover {
    
    color: var(--filter-btn-hov-and-foc-color);
    background-color: var(--filter-btn-background-hov-and-foc-color);
    }

.samples {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.samples-items {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
}

.portfolio-figcaption {
    display: block;
    padding: 20px 24px;
    border-right: 1px solid var(--border-workers-color);
    border-bottom: 1px solid var(--border-workers-color);
    border-left: 1px solid var(--border-workers-color);
}

.project-name {
    display: block;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--project-name-color); 
    }

.project-type {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--project-type-color);
    }

.logo-left-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color-1);
    display: block;
    margin-bottom: 20px;
    margin-right: 0;
}

.logo-right-footer {
    color: var(--logo-color-3);
}