.filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    margin-bottom: 40px;
    @media screen and (min-width: 480px) and (max-width: 767px) {
        margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        justify-content: center;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        justify-content: center;
    }
}

.filter-items {
    display: block;
    margin-right: 8px;
    @media screen and (max-width: 767px) {
        margin-bottom: 15px;
    }
    &:not(:last-child) {
        @media screen and (min-width: 768px) {
            margin-right: 8px;
        }
    }
    
}


.filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    padding: 6px 22px;
    border: transparent;
    color: var(--filter-btn-color);
    background-color: var(--filter-btn-background-color);
    cursor: pointer;
    border-radius: 4px;
    transition:
        color var(--anim),
        background-color var(--anim),
        box-shadow var(--anim);
    &:focus,
    &:hover {
            color: var(--filter-btn-hov-and-foc-color);
            background-color: var(--filter-btn-background-hov-and-foc-color);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        }
    }


