.footer {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background-color);
}

.footer-align {
    position: relative;
    @media screen and (max-width: 767.98px) {
    display: flex;
    flex-direction: column;   
    }
    @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;   
    flex-wrap: wrap; 
    }
 @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
 }
    }



.footer-word {
    @media screen and (max-width: 767.98px) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        margin-left: 76px;
        margin-right: auto;
        margin-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 0;
        margin-right: 0;
    }
}

.logo-left-footer {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: var(--logo-color-1);
    margin-bottom: 20px;
    @media screen and (max-width: 767.98px) {
        justify-content: center;
        margin-left: auto;
        margin-right: 0;
        font-size: 24px;
        line-height: 1.17;
    }
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        //margin-left: auto;

        //margin-right: 0;
        display: flex;
        justify-content: center;
        font-size: 24px;
        line-height: 1.17;
    }
    @media screen and (min-width: 1200px) {
        font-size: 26px;
        line-height: 1.19;
        margin-right: 0;
    }  
}

.logo-right-footer {
    color: var(--logo-color-3);
}



.address {
    font-style: normal;
        @media screen and (max-width: 767.98px) {
            display: flex;
            justify-content: center;
}
}

.address-all {
    @media screen and (max-width: 767.98px) {
        display: flex;
        justify-content: center;
        &:not(:last-child) {
        margin-bottom: 8px;
        }
    }

    &:not(:last-child){
        @media screen and (min-width: 1200px) {
    display: block;
    margin-bottom: 9px;            
        }
    }
}


.address-physical {
    display: block;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--address-physical-color);
    transition: color var(--anim);
    @media screen and (min-width: 468px) and (max-width: 1199.98px) {
            display: flex;
            justify-content: center;
            margin-bottom: 8px;
        }

    &:hover,
    &:focus {
        color: var(--contact-num-and-em-hover-and-focus-color);
    }
}

.address-email {
    display: block;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--address-email-and-number-color);
    transition: color var(--anim);
    @media screen and (min-width: 468px) and (max-width: 1199.98px) {
        display: flex;
        justify-content: center;
            margin-bottom: 8px;
    }
    &:hover,
    &:focus {
        color: var(--contact-num-and-em-hover-and-focus-color);
       
    }
}

.address-number {
    display: block;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--address-email-and-number-color);
    transition: color var(--anim);
    @media screen and (min-width: 468px) and (max-width: 1199.98px) {
            display: flex;
            justify-content: center;
            margin-bottom: 8px;
        }
    &:hover,
    &:focus {
        color: var(--contact-num-and-em-hover-and-focus-color);
    }
}

.join-block {
    @media screen and (max-width: 767.98px) {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }

    @media screen and (min-width:480px) and (max-width: 1199.98px) {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
     
    }

    @media screen and (min-width: 1200px) {
        margin-left: 70px;
        margin-right: 93px;
    }
}


.join {
    display: block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--join-footer-color);
        @media screen and (max-width: 1199.98px) {
            display: flex;
            justify-content: center;
        }

}


.footer-social {
    display: flex;
    cursor: pointer;
    @media screen and (max-width: 767.98px) {
    justify-content: center;    
    }
    
}

.join-social {
    margin-right: 10px;
}

.privat-social-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--footer-social-bcg-color);
    transition: background-color var(--anim);

    &:hover,
    &:focus {
        background-color: var(--bcg-privat-social-color-hover);
    }
}

.footer-pic {
    fill: var(--footer-privat-social-color);
}

.footer-form {
    @media screen and (max-width: 767.98px) {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        min-width: 450px;
    }
    
    @media screen and (min-width: 1200px) {
    margin-left: auto;
    }
    
}

.form {
    display: flex;
    @media screen and (max-width: 767.98px) {
        flex-direction: column;
    }
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        flex-direction: column;
    }
    @media screen and (min-width: 1200px) {
        justify-content: center;
}
    
}


.footer-form-email {
    min-height: 50px;
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        transition: border-color var(--anim);
    
    &:hover,
    &:focus {
        border-color: var(--head-color);
    }
    
    @media screen and (max-width: 767.98px) {
        width: 100%;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
    top: 0;
    left: 0;
    margin-right: 12px;
    padding-top: 15px;
    padding-right: auto;
    padding-bottom: 15px;
    padding-left: 16px;
    min-width: 358px;
        
    }

    
}

.follow-btn {
    top: 0;
    left: 0;
    min-width: 200px;
    min-height: 50px;
    padding: 10px 28px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--modal-btn-color);
    background-color: var(--modal-btn-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: color var(--anim),
        background-color var(--anim);
}

.footer-send {
    display: flex;
    align-items: center;
    margin-left: 10px;
    fill: #FFFFFF;
    background-color: transparent;
}