.footer {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background-color);
}

.address {
    font-style: normal;
}

.address-all:not(:last-child) {
    display: block;
    margin-bottom: 9px;
}


.address-physical {
    display: block;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--address-physical-color);
    transition: color var(--anim);
    &:hover,
    &:focus {
            color: var(--contact-num-and-em-hover-and-focus-color);
        }
}

.address-email {
    display: block;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--address-email-and-number-color);
    transition: color var(--anim);
    &:hover,
    &:focus {
            color: var(--contact-num-and-em-hover-and-focus-color);
        }
}

.address-number {
    display: block;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--address-email-and-number-color);
    transition: color var(--anim);
    &:hover,
    &:focus {
            color: var(--contact-num-and-em-hover-and-focus-color);
        }
}
