.menu-link {
    @media screen and (max-width: 767.98px) {
        display: none;
    }
    @media screen and (min-width: 768px) {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--menu-link-color);
    transition: color var(--anim);
 
    &:hover,
    &:focus {
            color: var(--contact-num-and-em-hover-and-focus-color);
        }
    }
  
}


.current {
    @media screen and (max-width: 767.98px) {
        display: none;
    }
    @media screen and (min-width: 768px) {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--menu-link-name-page-color);
    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        bottom: -1px;
        left: 0;
        background-color: var(--menu-link-name-page-color);
        }
    }
}



.menu {
    display: flex;
    align-items: center;
    &:last-child {
            margin-right: 0;
        }
}


.menu-item:not(:last-child) {
    margin-right: 50px;
}

.email-and-number {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--email-and-number-color);
    transition: color var(--anim);
    @media screen and (min-width: 768px) and (max-width:1199.98px) {
        padding-top: 0;
        padding-bottom: 0;

    }
    &:hover,
    &:focus {
            color: var(--contact-num-and-em-hover-and-focus-color);
        }
    &:hover .contact-icons {
            fill: var(--contact-num-and-em-hover-and-focus-color);
        }
}


.contact-icons {
    margin-right: 10px;
    fill: currentColor;
    transition: fill var(--anim);
    &:hover,
    &:focus {
            fill: var(--contact-num-and-em-hover-and-focus-color);
        }
}


.email-and-tel {
    @media screen and (max-width: 767.98px) {
    display: none;   
    }
    @media screen and (min-width: 798px) and (max-width: 1199.98px) {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    margin-left: auto;
    }
    @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;
    align-items: center;
    }
}

.cont {
    display: flex;
    justify-content: baseline;
    &:not(:last-child) {
    
            //display: flex;
            //@media screen  and (min-width: 768px) and (max-width: 1199.98px) {
            //flex-direction: column;
            //margin-bottom: 10px;
            //}
            @media screen and (min-width: 768px) and (max-width:1199.98px) {
                margin-bottom: 10px;
            }
    
            @media screen and (min-width: 1200px) {
                margin-right: 50px;
            }
        }
}


.menu-button {
    position: absolute;
    right: 15px;
    top: 10px;
    padding: 1px 6px;
        display: inline-flex;
            margin-right: 0;
            margin-left: auto;
            padding: 0;
            border: none;
            background-color: transparent;
            z-index: 1000;
    @media screen and (min-width: 768px) {
        display: none;
    }     
}  


.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.icon-cross {
    fill: #212121;
    transition: fill var(--anim);
    &:hover,
    &:focus {
        fill: #2196F3;
    }
}

.icon-menu {
    fill: #212121;
    transition: fill var(--anim);
    &:hover,
    &:focus {
        fill: #2196F3;
    }
}


