.headlines {
    background-color: var(--headlines-bkg-color);
}

.characteristics__title {
    display: block;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--headlines-char-color);
}

.characteristics__list {
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }
    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
}

}


.characteristics__item {
    //padding: 25px auto;
    @media screen and (max-width: 767px) {
            margin-bottom: 30px;
            width: 100%;   
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-left: 30px;
            margin-top: 30px;
            width: calc((100% - 60px) / 2);
    }
    @media screen and (min-width: 1200px) {
    max-width: 270px;
    &:not(:last-child) { 
        margin-right: 30px;
    }
    }
}


.characteristics__pictogram {

    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    //width: 270px;
    height: 120px;
    background-color: var(--pic-char-color);
}

.characteristics__subtitle {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--headlines-char-title-color);
    @media screen and (max-width: 767px) {
        text-align: center;
        
    }
}

.characteristics__label {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--headlines-char-descr-color);
}