.hero {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--hero-background-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url(../images/overlay/overlay_mob.jpg);
    //background-image: -webkit-image-set(url(../images/overlay/overlay_mob.webp) 1x),
                        //linear-gradient(to right, rgba(47, 48, 58, 0.4));
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url(../images/overlay/overlay@2x_mob.jpg);
            //background-image: -webkit-image-set(url(../images/overlay/overlay@2x_mob.webp) 2x),
                        //linear-gradient(to right, rgba(47, 48, 58, 0.4));
        }
        @media screen and (min-width: 768px) and (max-width: 1199.98px) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
             url(../images/overlay/overlay_tab.jpg); 
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    -webkit-image-set (url(../images/overlay/overlay_tab.webp) 1x);
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                        url(../images/overlay/overlay@2x_tab.jpg);
                        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                        -webkit-image-set (url(../images/overlay/overlay@2x_tab.webp) 2x);
                }
        }
        @media screen and (min-width: 1200px) {
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/overlay/overlay_desk.jpg);
            background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    -webkit-image-set (url(../images/overlay/overlay_desk.webp) 1x);
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                        url(../images/overlay/overlay@2x_desk.jpg);
                    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                            -webkit-image-set (url(../images/overlay/overlay@2x_desk.webp) 2x);
                }
        }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.hero-name {
    display: block;
    margin: 0 auto;
    font-weight: 900;
    line-height: 1.38;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-name-color); 
    @media screen and (max-width: 1199px) {
        font-size: 26px;
        max-width: 360px;
    } 
    @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;    
    } 
}

.btn {
    min-width: 200px;
    min-height: 50px;
    padding: 10px 32px;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--modal-btn-color);
    background-color: var(--modal-btn-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: color var(--anim),
        background-color var(--anim);
    &:hover,
    &:focus {
                color: var(--modal-btn-hov-and-foc-color);
                background-color: var(--modal-btn-background-hov-and-foc-color);
            }
}