.hero {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--hero-background-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay/overlay.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.hero-name {
    display: block;
    margin: 0 auto;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-name-color);
}

.btn {
    min-width: 200px;
    min-height: 50px;
    padding: 10px 32px;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--modal-btn-color);
    background-color: var(--modal-btn-background-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: color var(--anim),
        background-color var(--anim);
    &:hover,
    &:focus {
                color: var(--modal-btn-hov-and-foc-color);
                background-color: var(--modal-btn-background-hov-and-foc-color);
            }
}