.logo-left {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color-1);
    display: block;
    margin-right: 93px;
}

.logo-right {
    color: var(--logo-color-2);
}

.logo-right-footer {
    color: var(--logo-color-3);
}
.logo-left-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color-1);
    display: block;
    margin-bottom: 20px;
    margin-right: 0;
}