.logo-left {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-color-1);
    display: block;
    //
    padding-right: 0;
    //
    padding-left: 16px;
    @media screen and (max-width: 767.98px) {
    padding-bottom: 15px;
    padding-top: 16px;
    }
    //
    @media screen and (min-width:768px) and (max-width: 1199.98px) {
      margin-top: 26px;
      margin-right: auto;
      margin-bottom: 26px;
      padding-left: 0px;  
    }
    @media screen and (min-width: 1200px) {
        margin-right: 93px;
        margin-left: 0;
        padding-bottom: 25px;
        padding-top: 24px;
        padding-left: 0;
    }
    
    
}

.logo-right {
    color: var(--logo-color-2);
}


