.modal-wrapper {
    position: absolute;
    padding: 40px;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    width: 528px;
    height: auto;
}

.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.form-caption {
    display: inline-block;
    margin-bottom: 12px;
    width: 100%;
    height: 23px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.form-modal-group {
    display: block;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}


.form-modal-label {
    display: block;
    text-align: start;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: #757575;
}

.form-modal-input {
    width: 448px;
    padding: 11px 11px 11px 35px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    outline: transparent;
    transition: border var(--anim);
}

.form-modal-icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    fill: #212121;
    transition: fill var(--anim);
}

.form-textarea-label {
    margin-bottom: 20px;
}

.form-textarea {
    display: block;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #212121;
    resize: none;
}

.form-textarea::placeholder {
    opacity: 0.5;
}

.form-textarea:hover,
.form-textarea:focus {
    border: 1px solid var(--head-color);
}

.form-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.checkbox-add {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
    border-radius: 2px;
    outline: 2px solid #212121;
    outline-offset: -2px;
    transition: background-color var(--anim);
}

.checkbox {
    opacity: 0;
}

.checkbox-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.46;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1);
}

.checkbox-link {
    display: block;
    margin-left: 3px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2196F3;
}

.checkbox-origin:checked+.checkbox-add .checkbox {
    opacity: 1;
    fill: #ffffff;
}

.checkbox-origin:checked+.checkbox-add {
    background-color: var(--head-color);
    outline: var(--head-color);
    transition: var(--anim);
}



.form-modal-input:focus+.form-modal-icon {
    fill: var(--head-color);
}

.form-modal-input:hover+.form-modal-icon {
    fill: var(--head-color);
}

.form-modal-input:hover,
.form-modal-input:focus {
    border: 1px solid var(--head-color);
}

.btn-send {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    min-width: 200px;
    min-height: 50px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: #188CE8;
    border-color: transparent;
    border-radius: 4px;
    transition: box-shadow;
}

.btn-send:hover,
.btn-send:focus {
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2),
        0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.close {
    fill: #000000;
}