.samples {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}



.samples-items {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
    position: relative;
    &:hover .overlay-text,
    &:focus .overlay-text {
            transform: translateY(-100%);
            opacity: 1;
        }
}

.samples-link {
    display: block;
    transition: box-shadow var(--anim);
    &:hover,
    &:focus {
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        }
    &:focus .overlay-text {
            transform: translateY(-100%);
            opacity: 1;
        }
}


.overlay-text {
    position: absolute;
    padding: 63px 24px;
    width: 100%;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(0%);
    transition: transform var(--anim),
        opacity var(--anim);
}

.overlay-img {
    position: relative;
    overflow: hidden;
}


.portfolio-figcaption {
    display: block;
    padding: 20px 24px;
    border-right: 1px solid var(--border-workers-color);
    border-bottom: 1px solid var(--border-workers-color);
    border-left: 1px solid var(--border-workers-color);
}

.project-name {
    display: block;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--project-name-color);
}

.project-type {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--project-type-color);
}