.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.name {
  font-size: 32px;
  color: red;
}
========================================== */

.astronaut {
  width: 1.0537109375em;
}

.brand {
  width: 1.7666015625em;
}

.company {
  width: 1.7666015625em;
}

.envelope {
  width: 1.3330078125em;
}

.foster {
  width: 1.7666015625em;
}

.here {
  width: 1.7666015625em;
}

.smartphone {
  width: 0.625em;
}

.tag {
  width: 1.7666015625em;
}

.ya-co {
  width: 1.7666015625em;
}
