:root {
    --logo-color-1: #2196F3;
    --logo-color-2: #000000;
    --menu-link-color: #212121;
    --menu-link-name-page-color: #2196F3;
    --email-and-number-color: #757575;
    --contact-num-and-em-hover-and-focus-color: #2196F3;
    --header-border-bottom-color: #ECECEC;
    --hero-background-color: #2F303A;
    --hero-name-color: #FFFFFF;
    --modal-btn-color: #F5F4FA;
    --modal-btn-background-color: #2196F3;
    --modal-btn-hov-and-foc-color: #F5F4FA;
    --modal-btn-background-hov-and-foc-color: #188CE8;
    --headlines-bkg-color: #F5F4FA;
    --headlines-char-color: #212121;
    --headlines-char-title-color: #212121;
    --headlines-char-descr-color: #757575;
    --product-name-color: #FFFFFF;
    --workers-color: #212121;
    --workers-prof-color: #757575;
    --border-workers-color: #EEEEEE;
    --workers-social-icon-color: #AFB1B8;
    --workers-social-icon-color-hover: #FFFFFF;
    --bcg-privat-social-color-hover: #2196F3;
    --footer-background-color: #2F303A;
    --address-physical-color: #FFFFFF;
    --address-email-and-number-color: rgba(255, 255, 255, 0.6);
    --filter-btn-color: #212121;
    --filter-btn-background-color: #F5F4FA;
    --filter-btn-hov-and-foc-color: #FFFFFF;
    --filter-btn-background-hov-and-foc-color: #2196F3;
    --project-name-color: #212121;
    --project-type-color: #757575;
    --customer-icon-color: #AFB1B8;
    --customer-color-hover: #2196F3;
    --customer-list-border-color: #AFB1B8;
    --logo-color-3: #FFFFFF;
    --join-footer-color: #FFFFFF;
    --social-back-color: #2196F3;
    --pic-char-color: #F5F4FA;
    --footer-privat-social-color: #FFFFFF;
    --footer-social-bcg-color: rgba(255, 255, 255, 10%);
    --head-color: #2196F3;
    --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}